.session-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-container {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px; */
    display: flex;
    gap: 3em;
}

.left-sidebar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-sidebar {
    height: 50dvh;
    width: 5em;
    background-color: #555;
    border-radius: 10em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right-sidebar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-sidebar {
    height: 110dvh;
    width: 15dvw;
    background-color: #323232;
    border-radius: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.w-color-sketch {
    --sketch-swatch-border-top: none !important;
}

button {
    all: unset;
}

.pen-button {
    background-image: url("/Paintbrush.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 50%;
    outline-offset: 5px;
}

.pen-button:hover {
    outline: 1px solid black;
}

.eraser-button {
    background-image: url("/Erase.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 50%;
    outline-offset: 5px;
}

.eraser-button:hover {
    outline: 1px solid black;
}

.undo-button {
    background-image: url("/Undo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 50%;
    outline-offset: 5px;
}

.undo-button:hover {
    outline: 1px solid black;
}

.redo-button {
    background-image: url("/Redo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 50%;
    outline-offset: 5px;
}

.redo-button:hover {
    outline: 1px solid black;
}